GeneratorStable2013/ProcessingValidating/validating/members.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:members-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="supportedItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="C">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="definitions">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="intArray">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="realArray">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="intIndex">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="statements">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="statAssign" />
										<xs:element name="statFor" />
										<xs:element name="statWhile" />
										<xs:element name="statIf" />
										<xs:element name="statIfThenElse" />
										<xs:element name="statBreak" />
										<xs:element name="statContinue" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>